pandas
numpy
scipy
scapy
pywin32
matplotlib
seaborn
requests
pymongo
pyyaml
mysql-connector-python
pyelftools
psutil
flask
django
cryptography
pycrypto
scrapy
beautifulsoup4
Pillow
redis
hiredis
pyjwt
r2pipe
pyfiglet
MechanicalSoup
Jinja2
selenium
scikit-learn
ipython
pyautogui